.welcome {
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    height: 250px;
    width: 50%;
    margin:auto;
    text-align: center;
    box-sizing: content-box;
    


}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    padding: 20px;

}
#btnBegin {
    padding: 20px 30px;
}
